In [1]:
import pandas as pd
import json
import zipfile
import os
from datetime import datetime, timedelta

pd.set_option('display.max_columns', None)

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/Users/keremgura/anaconda3/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/Users/keremgura/anaconda3/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/traitlets/config/application.py", line 992, in launch_instance
    app.start()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 711, in start
    self.io_loop.start()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/base_events.py", line 1906, in _run_once
    handle._run()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 406, in dispatch_shell
    await result
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/zmqshell.py", line 531, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 2961, in run_cell
    result = self._run_cell(
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3016, in _run_cell
    result = runner(coro)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3221, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3400, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/z9/z6djmqsd5m1bqhh3jv9ccpz40000gn/T/ipykernel_84076/3640472064.py", line 1, in <module>
    import pandas as pd
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/arrow/array.py", line 50, in <module>
    from pandas.core import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/ops/__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/ops/array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/computation/expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/computation/check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/Users/keremgura/anaconda3/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/numexpr/__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/Users/keremgura/anaconda3/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/Users/keremgura/anaconda3/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/traitlets/config/application.py", line 992, in launch_instance
    app.start()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 711, in start
    self.io_loop.start()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/base_events.py", line 1906, in _run_once
    handle._run()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 406, in dispatch_shell
    await result
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/zmqshell.py", line 531, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 2961, in run_cell
    result = self._run_cell(
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3016, in _run_cell
    result = runner(coro)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3221, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3400, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/z9/z6djmqsd5m1bqhh3jv9ccpz40000gn/T/ipykernel_84076/3640472064.py", line 1, in <module>
    import pandas as pd
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/arrow/array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/masked.py", line 60, in <module>
    from pandas.core import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/Users/keremgura/anaconda3/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/bottleneck/__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

AttributeError: _ARRAY_API not found

In [2]:
DATA_PATH = '../data/'
WYSCOUT_PATH = DATA_PATH + 'wyscout/'
SKILLCORNER_PATH = DATA_PATH + 'skillcorner/'
#XT_PLOT_PATH = DATA_PATH + 'xt_plot_worldcup.csv'
MATCH_IDS_PATH = DATA_PATH + 'matchids.csv'

XT_PLOT_PATH = '../data 2/' + 'smoothed_xt.csv'

## Load Data

In [3]:
def unzip_all_files_in_dir(directory, target_directory):
    for file in os.listdir(directory):
        if file.endswith('.zip'):
            with zipfile.ZipFile(directory + file, 'r') as zip_ref:
                zip_ref.extractall(target_directory)

In [4]:
unzip = False

if unzip:
    unzip_all_files_in_dir('../../soccer-analytics/data/wyscout/', WYSCOUT_PATH)
    unzip_all_files_in_dir('../../soccer-analytics/data/skillcorner/', SKILLCORNER_PATH)

In [5]:
match_info = pd.read_csv(MATCH_IDS_PATH)
match_info = match_info.dropna(subset=['wyscout', 'skillcorner'])
match_info['skillcorner'] = match_info['skillcorner'].astype(int)

In [6]:
match_info.head(5)

    wyscout  skillcorner        date                 home result         away
8   5414111       952209  2023-03-24               France    4-0  Netherlands
10  5414113       726849  2023-03-24       Czech Republic    3-1       Poland
12  5414115       722109  2023-03-24               Sweden    0-3      Belgium
25  5414127       726848  2023-03-26              England    2-0      Ukraine
33  5414135       952208  2023-03-27  Republic of Ireland    0-1       France

In [7]:
wyscout_id = match_info['wyscout'].values[0]
skillcorner_id = match_info['skillcorner'].values[0]

In [8]:
def wyscout_to_df(filepath, lines=False):
    with open(filepath, encoding='utf8') as f:
        js = json.load(f)
    df = pd.json_normalize(js['events'])
    return df

### wyscout

In [9]:
wyscout_data = wyscout_to_df(WYSCOUT_PATH + str(wyscout_id) + ".json")
with pd.option_context('display.max_columns', None):
    display(wyscout_data.head(3))

,id,matchId,matchPeriod,minute,second,matchTimestamp,videoTimestamp,relatedEventId,shot,groundDuel,aerialDuel,infraction,carry,type.primary,type.secondary,location.x,location.y,team.id,team.name,team.formation,opponentTeam.id,opponentTeam.name,opponentTeam.formation,player.id,player.name,player.position,pass.accurate,pass.angle,pass.height,pass.length,pass.recipient.id,pass.recipient.name,pass.recipient.position,pass.endLocation.x,pass.endLocation.y,possession.id,possession.duration,possession.types,possession.eventsNumber,possession.eventIndex,possession.startLocation.x,possession.startLocation.y,possession.endLocation.x,possession.endLocation.y,possession.team.id,possession.team.name,possession.team.formation,possession.attack,pass,carry.progression,carry.endLocation.x,carry.endLocation.y,groundDuel.opponent.id,groundDuel.opponent.name,groundDuel.opponent.position,groundDuel.duelType,groundDuel.keptPossession,groundDuel.progressedWithBall,groundDuel.stoppedProgress,groundDuel.recoveredPossession,groundDuel.takeOn,groundDuel.side,groundDuel.relatedDuelId,possession.attack.withShot,possession.attack.withShotOnGoal,possession.attack.withGoal,possession.attack.flank,possession.attack.xg,shot.bodyPart,shot.isGoal,shot.onTarget,shot.goalZone,shot.xg,shot.postShotXg,shot.goalkeeperActionId,shot.goalkeeper.id,shot.goalkeeper.name,possession,aerialDuel.opponent.id,aerialDuel.opponent.name,aerialDuel.opponent.position,aerialDuel.opponent.height,aerialDuel.firstTouch,aerialDuel.height,aerialDuel.relatedDuelId,shot.goalkeeper,infraction.yellowCard,infraction.redCard,infraction.type,infraction.opponent.id,infraction.opponent.name,infraction.opponent.position,infraction.opponent
0,1587492614,5414111,1H,0,1,00:00:01.912,3.912638,1.587493e+09,NaN,NaN,NaN,NaN,NaN,pass,"[lateral_pass, short_or_medium_pass]",51,50,664,Netherlands,4-2-3-1,4418,France,4-3-3,118,M. Depay,CF,True,114.0,None,24.0,625.0,M. de Roon,RDMF,42.0,83.0,1.587493e+09,110.275779,[],43.0,0.0,51.0,50.0,35.0,67.0,664.0,Netherlands,4-2-3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1587492615,5414111,1H,0,5,00:00:05.782,7.782226,1.587493e+09,NaN,NaN,NaN,NaN,NaN,pass,"[lateral_pass, short_or_medium_pass]",42,83,664,Netherlands,4-2-3-1,4418,France,4-3-3,625,M. de Roon,RDMF,True,-133.0,None,21.0,476361.0,L. Geertruida,RCB,29.0,60.0,1.587493e+09,110.275779,[],43.0,1.0,51.0,50.0,35.0,67.0,664.0,Netherlands,4-2-3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1587492616,5414111,1H,0,8,00:00:08.951,10.951834,1.587493e+09,NaN,NaN,NaN,NaN,NaN,pass,"[lateral_pass, short_or_medium_pass]",29,60,664,Netherlands,4-2-3-1,4418,France,4-3-3,476361,L. Geertruida,RCB,True,-100.0,None,22.0,370.0,V. van Dijk,LCB,25.0,28.0,1.587493e+09,110.275779,[],43.0,2.0,51.0,50.0,35.0,67.0,664.0,Netherlands,4-2-3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### skillcorner

In [10]:
metadata = pd.read_csv(SKILLCORNER_PATH + str(skillcorner_id) + "_metadata.csv")
tracking_df = pd.read_csv(SKILLCORNER_PATH + str(skillcorner_id) + "_tracking.csv")
lineup_df = pd.read_csv(SKILLCORNER_PATH + str(skillcorner_id) + "_lineup.csv")

In [11]:
print("Metadata")
display(metadata.head(3))
print("Tracking")
display(tracking_df.head(3))
print("Lineup")
display(lineup_df.head(3))

Metadata

,match_id,match_date,competition,season,home_team,away_team,home_score,away_score,home_team_jersey_color,away_team_jersey_color,home_team_number_color,away_team_number_color,home_team_coach,away_team_coach,pitch_name,pitch_length,pitch_width,provider,fps
0,952209,03/24/2023 19:45,European Championship Qualifiers,2023/2024,France,Netherland,4,0,#fafafa,#ff824c,#000000,#000000,Didier Deschamps,Frank De Boer,Stade de France,105.0,68.0,SkillCorner,10

Tracking

,match_id,half,frame_id,timestamp,object_id,x,y,z,extrapolated
0,952209,1,20,0,-1,0.12,-0.19,0.12,False
1,952209,1,20,0,7604,-39.44,-0.21,0.00,True
2,952209,1,20,0,16320,-16.05,-7.18,0.00,False

Lineup

,match_id,team_name,player_id,player_first_name,player_last_name,player_shirt_number,player_position,player_birthdate,start_time,end_time,yellow_card,red_card,injured,goal,own_goal
0,952209,Netherland,14397,Tyrell,Malacia,16,Right Wing Back,1999-08-17,01:26:59,NaN,0,0,False,0,0
1,952209,Netherland,12654,Donyell,Malen,7,Right Winger,1999-01-19,01:06:22,NaN,0,0,False,0,0
2,952209,Netherland,2548,Davy,Klaassen,14,Attacking Midfield,1993-02-21,01:06:22,NaN,0,0,False,0,0

# Pass Events

In [12]:
passes_df = wyscout_data[wyscout_data['type.primary'] == 'pass']

# Filter out inaccurate passes
accurate_only = True
if accurate_only:
    passes_df = passes_df[passes_df['pass.accurate'] == True]

print(passes_df.shape)

(897, 93)

In [13]:
relevant_columns = ['id', 'matchId', 'matchPeriod', 'matchTimestamp',
       'relatedEventId', 'type.primary', 'type.secondary', 'location.x',
       'location.y', 'team.id', 'team.name', 'opponentTeam.id', 'opponentTeam.name', 'player.id', 'player.name', 'player.position', 'pass.accurate',
       'pass.angle', 'pass.height', 'pass.length', 'pass.recipient.id',
       'pass.recipient.name', 'pass.recipient.position', 'pass.endLocation.x',
       'pass.endLocation.y', 'possession.id', 'possession.attack.withShotOnGoal', 'possession.attack.withGoal']
passes_ext = passes_df[relevant_columns]

print(passes_ext.shape)

(897, 28)

In [14]:
passes = passes_df.loc[:,['matchId', 'matchTimestamp', 'matchPeriod', 'team.id', 'team.name', 'player.id', 'player.name', 'opponentTeam.id', 'opponentTeam.name', 'pass.recipient.id', 'pass.recipient.name', 'location.x', 'location.y', 'pass.endLocation.x', 'pass.endLocation.y']]
passes.head()

,matchId,matchTimestamp,matchPeriod,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,pass.recipient.id,pass.recipient.name,location.x,location.y,pass.endLocation.x,pass.endLocation.y
0,5414111,00:00:01.912,1H,664,Netherlands,118,M. Depay,4418,France,625.0,M. de Roon,51,50,42.0,83.0
1,5414111,00:00:05.782,1H,664,Netherlands,625,M. de Roon,4418,France,476361.0,L. Geertruida,42,83,29.0,60.0
2,5414111,00:00:08.951,1H,664,Netherlands,476361,L. Geertruida,4418,France,370.0,V. van Dijk,29,60,25.0,28.0
3,5414111,00:00:13.151,1H,664,Netherlands,370,V. van Dijk,4418,France,476361.0,L. Geertruida,25,28,25.0,51.0
5,5414111,00:00:17.930,1H,664,Netherlands,476361,L. Geertruida,4418,France,370.0,V. van Dijk,32,50,30.0,17.0

In [15]:
passes['matchPeriod'] = passes['matchPeriod'].apply(lambda x: int(x.split('H')[0]))
passes['pass.recipient.id'] = passes['pass.recipient.id'].astype(int)
passes['pass.endLocation.x'] = passes['pass.endLocation.x'].astype(int)
passes['pass.endLocation.y'] = passes['pass.endLocation.y'].astype(int)

In [16]:
passes.head()

,matchId,matchTimestamp,matchPeriod,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,pass.recipient.id,pass.recipient.name,location.x,location.y,pass.endLocation.x,pass.endLocation.y
0,5414111,00:00:01.912,1,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83
1,5414111,00:00:05.782,1,664,Netherlands,625,M. de Roon,4418,France,476361,L. Geertruida,42,83,29,60
2,5414111,00:00:08.951,1,664,Netherlands,476361,L. Geertruida,4418,France,370,V. van Dijk,29,60,25,28
3,5414111,00:00:13.151,1,664,Netherlands,370,V. van Dijk,4418,France,476361,L. Geertruida,25,28,25,51
5,5414111,00:00:17.930,1,664,Netherlands,476361,L. Geertruida,4418,France,370,V. van Dijk,32,50,30,17

# Compute ΔxT

In [17]:
xt_table = pd.read_csv('../data/xt_plot_worldcup.csv')
xt_table = pd.read_csv('../data 2/smoothed_xt.csv')

In wyscout coordinates are normalized to the range (0,100) in both spatial dimensions.

In [18]:
cell_width = 100 / xt_table.shape[1]
cell_height = 100 / xt_table.shape[0]

print(f'cell width:\t{round(cell_width,2)}')
print(f'cell height:\t{round(cell_height,2)}')

cell width:	0.95
cell height:	1.47

In [19]:
def get_xt_index(x, y):
    x_index = min(int(x // cell_width), xt_table.shape[1] - 1)
    y_index = min(int(y // cell_height), xt_table.shape[0] - 1)
    return x_index, y_index

In [20]:
start_xts = passes.apply(lambda row: xt_table.iat[get_xt_index(row['location.x'], row['location.y'])[1], 
                                                           get_xt_index(row['location.x'], row['location.y'])[0]], axis=1)
end_xts = passes.apply(lambda row: xt_table.iat[get_xt_index(row['pass.endLocation.x'], row['pass.endLocation.y'])[1], 
                                                         get_xt_index(row['pass.endLocation.x'], row['pass.endLocation.y'])[0]], axis=1)
passes.loc[:,'dxt'] = end_xts - start_xts

# Player Locations

In [21]:
def round_to_tenth_of_second(timestamp):
    dt = datetime.strptime(timestamp, '%H:%M:%S.%f')
    microsecond = dt.microsecond
    rounded_microsecond = round(microsecond, -5)
    if rounded_microsecond == 1000000:
        dt += timedelta(seconds=1)
        rounded_microsecond = 0
    dt = dt.replace(microsecond=rounded_microsecond)
    return f"{dt.strftime('%H:%M:%S')}.{rounded_microsecond:06}"

def convert_timestamp(row):
    ts = row['timestamp']
    if row['half'] == 2:
        ts += 45 * 60 * 1000  # Add 45 minutes in milliseconds
    td = timedelta(milliseconds=ts)
    total_seconds = int(td.total_seconds())
    microseconds = int(td.microseconds)
    return f"{total_seconds // 3600:02}:{(total_seconds % 3600) // 60:02}:{total_seconds % 60:02}.{microseconds:06}"

In [22]:
columns_to_drop = ['frame_id', 'extrapolated']
existing_columns_to_drop = [col for col in columns_to_drop if col in tracking_df.columns]
tracking_df.drop(columns=existing_columns_to_drop, inplace=True)

In [23]:
if not {'timestamp', 'period'}.issubset(tracking_df.index.names):    
    tracking_df['timestamp'] = tracking_df.apply(convert_timestamp, axis=1)
    tracking_df.set_index(['timestamp', 'half'], inplace=True)
    tracking_df.rename_axis(index={'timestamp': 'timestamp', 'half': 'period'}, inplace=True)
tracking_df.sample(3)

                        match_id  object_id      x      y    z
timestamp       period
01:28:41.900000 2         952209      10916   3.15   0.92  0.0
01:17:14.500000 2         952209      14407 -19.22 -20.23  0.0
00:34:40.100000 1         952209       6028  34.87   8.91  0.0

In [24]:
passes['quantizedTimestamp'] = passes['matchTimestamp'].apply(round_to_tenth_of_second)
if not {'timestamp', 'period'}.issubset(passes.index.names):
    passes.set_index(['quantizedTimestamp', 'matchPeriod'], inplace=True)
    passes.rename_axis(index={'quantizedTimestamp': 'timestamp', 'matchPeriod': 'period'}, inplace=True)

In [25]:
joined_df = passes.join(tracking_df, how='inner')

In [26]:
columns_to_drop = ['match_id']
existing_columns_to_drop = [col for col in columns_to_drop if col in joined_df.columns]
joined_df.drop(columns=existing_columns_to_drop, inplace=True)

joined_df['object_id'] = joined_df['object_id'].astype(int)

# Normalize Pitch Coordinates

In [27]:
pitch_length = metadata['pitch_length'].values[0]
pitch_width = metadata['pitch_width'].values[0]

In [28]:
def normalize_coordinates(row):
    x, y = row['x'], row['y']
    new_x = (-x + pitch_length/2) / pitch_length * 100
    new_y = (y + pitch_width/2) / pitch_width * 100
    return new_x, new_y

In [29]:
df = joined_df.apply(lambda row: normalize_coordinates(row), axis=1)
joined_df[['x_norm', 'y_norm']] = pd.DataFrame(df.tolist(), index=df.index)

# Identify Attackers and Defenders

In [30]:
lineup_df_filt = lineup_df[['team_name', 'player_id', 'player_first_name', 'player_last_name']]

joined_df = joined_df.merge(lineup_df_filt, left_on='object_id', right_on='player_id')

In [31]:
columns_to_prefix = ['object_id', 'x', 'y', 'z', 'x_norm', 'y_norm', 'team_name', 'player_id' ,'player_first_name', 'player_last_name']
prefix = 'tracking.'
joined_df.rename(columns={col: prefix + col for col in columns_to_prefix}, inplace=True)

In [32]:
# joined_df.to_pickle('passes_df.pkl')

In [33]:
joined_df

,matchId,matchTimestamp,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,pass.recipient.id,pass.recipient.name,location.x,location.y,pass.endLocation.x,pass.endLocation.y,dxt,tracking.object_id,tracking.x,tracking.y,tracking.z,tracking.x_norm,tracking.y_norm,tracking.team_name,tracking.player_id,tracking.player_first_name,tracking.player_last_name
0,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,7604,-41.03,-0.05,0.0,89.076190,49.926471,France,7604,Mike,Maignan
1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,16320,-15.86,-7.61,0.0,65.104762,38.808824,France,16320,Ibrahima,Konaté
2,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,11516,-16.08,2.42,0.0,65.314286,53.558824,France,11516,Dayot,Upamecano
3,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,11630,-14.54,-18.87,0.0,63.847619,22.250000,France,11630,Jules,Koundé
4,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,11606,-14.08,17.56,0.0,63.409524,75.823529,France,11606,Theo,Hernández
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19707,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,80,17,89,42,0.064346,20191,31.49,-1.03,0.0,20.009524,48.485294,France,20191,Khéphren,Thuram-Ulien
19708,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,80,17,89,42,0.064346,12229,31.89,8.13,0.0,19.628571,61.955882,France,12229,Youssouf,Fofana
19709,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,80,17,89,42,0.064346,12246,35.56,12.33,0.0,16.133333,68.132353,France,12246,Moussa,Diaby
19710,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,80,17,89,42,0.064346,6028,5.09,-7.70,0.0,45.152381,38.676471,France,6028,Kylian,Mbappé Lottin
19711,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,80,17,89,42,0.064346,8206,2.10,-16.52,0.0,48.000000,25.705882,France,8206,Olivier,Giroud

# Responsibility

In [34]:
import numpy as np

def responsibility(row, max_distance=10, pass_length_factor=1.0, end_location_factor=0.5):
    
    start_x = row['location.x']
    start_y = row['location.y']
    end_x = row['pass.endLocation.x']
    end_y = row['pass.endLocation.y']
    
    player_x = row['tracking.x_norm']
    player_y = row['tracking.y_norm']
    
    # Vector from start to end of the pass
    pass_vector = np.array([end_x - start_x, end_y - start_y])
    # Vector from start of the pass to the player's position
    player_vector = np.array([player_x - start_x, player_y - start_y])
    
    pass_length = np.linalg.norm(pass_vector)
    
    
    if pass_length > 0:
        pass_unit_vector = pass_vector / pass_length
        projection_length = np.dot(player_vector, pass_unit_vector)
        
        # Clamp projection_length to the range [0, pass_length] to account for the endpoints of the pass
        projection_length = max(0, min(projection_length, pass_length))
        
        # Find the point on the pass closest to the player
        closest_point = np.array([start_x, start_y]) + projection_length * pass_unit_vector
        
        # Distance from player to the closest point on the pass
        distance_to_pass = np.linalg.norm(np.array([player_x, player_y]) - closest_point)
    else:
        # If the pass length is zero, set distance to the player's distance from the start point
        distance_to_pass = np.linalg.norm(np.array([player_x, player_y]) - np.array([start_x, start_y]))
    
    # Calculate distance from the player to the end location of the pass
    distance_to_end_location = np.linalg.norm(np.array([player_x, player_y]) - np.array([end_x, end_y]))
    
    # Calculate responsibility with pass length and distance to pass scaling
    if distance_to_pass < max_distance and row['tracking.object_id'] != -1:
        """
        # Apply scaling based on the distance to the pass and pass length
        raw_responsibility = (1 - (distance_to_pass / max_distance)) * np.power(1 + pass_length_factor, pass_length)
        
        # Normalize the responsibility to be between 0 and 1
        max_possible_responsibility = np.power(1 + pass_length_factor, pass_length)
        responsibility_score = raw_responsibility / max_possible_responsibility
        
        # Adjust the responsibility based on the distance to the end location
        
        proximity_to_end = 1 - (distance_to_end_location / max_distance)
        end_location_adjustment = (1 + end_location_factor * proximity_to_end)
        responsibility_score *= end_location_adjustment
        """
        raw_responsibility = (1 - (distance_to_pass / max_distance)) * np.power(1 + pass_length_factor, pass_length)
        
        # Normalize the responsibility to be between 0 and 1
        max_possible_responsibility = np.power(1 + pass_length_factor, pass_length)
        responsibility_score = raw_responsibility / max_possible_responsibility
        
        
    else:
        # If the player is too far, they get no responsibility
        responsibility_score = 0.5 / distance_to_pass
        
    
        
    return responsibility_score

In [35]:
# copy before applying the function | backup
joined_df_cpy = joined_df.copy()

In [36]:
joined_df_cpy

,matchId,matchTimestamp,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,pass.recipient.id,pass.recipient.name,location.x,location.y,pass.endLocation.x,pass.endLocation.y,dxt,tracking.object_id,tracking.x,tracking.y,tracking.z,tracking.x_norm,tracking.y_norm,tracking.team_name,tracking.player_id,tracking.player_first_name,tracking.player_last_name
0,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,7604,-41.03,-0.05,0.0,89.076190,49.926471,France,7604,Mike,Maignan
1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,16320,-15.86,-7.61,0.0,65.104762,38.808824,France,16320,Ibrahima,Konaté
2,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,11516,-16.08,2.42,0.0,65.314286,53.558824,France,11516,Dayot,Upamecano
3,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,11630,-14.54,-18.87,0.0,63.847619,22.250000,France,11630,Jules,Koundé
4,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,11606,-14.08,17.56,0.0,63.409524,75.823529,France,11606,Theo,Hernández
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19707,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,80,17,89,42,0.064346,20191,31.49,-1.03,0.0,20.009524,48.485294,France,20191,Khéphren,Thuram-Ulien
19708,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,80,17,89,42,0.064346,12229,31.89,8.13,0.0,19.628571,61.955882,France,12229,Youssouf,Fofana
19709,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,80,17,89,42,0.064346,12246,35.56,12.33,0.0,16.133333,68.132353,France,12246,Moussa,Diaby
19710,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,80,17,89,42,0.064346,6028,5.09,-7.70,0.0,45.152381,38.676471,France,6028,Kylian,Mbappé Lottin
19711,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,80,17,89,42,0.064346,8206,2.10,-16.52,0.0,48.000000,25.705882,France,8206,Olivier,Giroud

In [37]:
passes

,,matchId,matchTimestamp,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,pass.recipient.id,pass.recipient.name,location.x,location.y,pass.endLocation.x,pass.endLocation.y,dxt
timestamp,period,,,,,,,,,,,,,,,
00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162
00:00:05.800000,1,5414111,00:00:05.782,664,Netherlands,625,M. de Roon,4418,France,476361,L. Geertruida,42,83,29,60,-0.002211
00:00:09.000000,1,5414111,00:00:08.951,664,Netherlands,476361,L. Geertruida,4418,France,370,V. van Dijk,29,60,25,28,-0.000660
00:00:13.200000,1,5414111,00:00:13.151,664,Netherlands,370,V. van Dijk,4418,France,476361,L. Geertruida,25,28,25,51,0.000147
00:00:17.900000,1,5414111,00:00:17.930,664,Netherlands,476361,L. Geertruida,4418,France,370,V. van Dijk,32,50,30,17,-0.000616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
01:33:18.500000,2,5414111,01:33:18.517,664,Netherlands,56,D. Klaassen,4418,France,365446,D. Malen,46,65,40,89,-0.003139
01:33:23.600000,2,5414111,01:33:23.587,664,Netherlands,365446,D. Malen,4418,France,56,D. Klaassen,40,89,61,91,0.008928
01:33:24.900000,2,5414111,01:33:24.921,664,Netherlands,56,D. Klaassen,4418,France,221069,W. Weghorst,61,91,63,69,0.006431
01:33:36.200000,2,5414111,01:33:36.229,664,Netherlands,134102,N. Aké,4418,France,118,M. Depay,72,30,80,17,0.013511
01:33:38.800000,2,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,80,17,89,42,0.064346

In [38]:
joined_df['responsibility'] = joined_df.apply(responsibility, axis=1, pass_length_factor = 1)

cols_to_display = ['player.id', 'tracking.object_id', 'location.x', 'location.y', 'pass.endLocation.x', 
                   'pass.endLocation.y','tracking.x', 'tracking.y', 'tracking.x_norm', 'tracking.y_norm', 'responsibility', 'dxt']
# joined_df[cols_to_display].head(23)
# joined_df.head(20)

In [39]:
joined_df[cols_to_display].head(5)

,player.id,tracking.object_id,location.x,location.y,pass.endLocation.x,pass.endLocation.y,tracking.x,tracking.y,tracking.x_norm,tracking.y_norm,responsibility,dxt
0,118,7604,51,50,42,83,-41.03,-0.05,89.076190,49.926471,0.013132,-0.004162
1,118,16320,51,50,42,83,-15.86,-7.61,65.104762,38.808824,0.027770,-0.004162
2,118,11516,51,50,42,83,-16.08,2.42,65.314286,53.558824,0.033898,-0.004162
3,118,11630,51,50,42,83,-14.54,-18.87,63.847619,22.250000,0.016351,-0.004162
4,118,11606,51,50,42,83,-14.08,17.56,63.409524,75.823529,0.026643,-0.004162

In [40]:
print(len(joined_df))
joined_df.head(5)

19712

,matchId,matchTimestamp,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,pass.recipient.id,pass.recipient.name,location.x,location.y,pass.endLocation.x,pass.endLocation.y,dxt,tracking.object_id,tracking.x,tracking.y,tracking.z,tracking.x_norm,tracking.y_norm,tracking.team_name,tracking.player_id,tracking.player_first_name,tracking.player_last_name,responsibility
0,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,7604,-41.03,-0.05,0.0,89.076190,49.926471,France,7604,Mike,Maignan,0.013132
1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,16320,-15.86,-7.61,0.0,65.104762,38.808824,France,16320,Ibrahima,Konaté,0.027770
2,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,11516,-16.08,2.42,0.0,65.314286,53.558824,France,11516,Dayot,Upamecano,0.033898
3,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,11630,-14.54,-18.87,0.0,63.847619,22.250000,France,11630,Jules,Koundé,0.016351
4,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83,-0.004162,11606,-14.08,17.56,0.0,63.409524,75.823529,France,11606,Theo,Hernández,0.026643

In [41]:
# pick relevant columns
columns_pick = ['matchId', 'matchTimestamp', 'team.id', 'player.id', 'pass.recipient.id', 'tracking.player_id', 'responsibility', 'dxt']
df_resp = joined_df[columns_pick].copy()
#id_map = pd.read_csv(DATA_PATH + 'player_id_map.csv', index_col=0)
id_map = pd.read_csv('../data 2/src/' + 'player_id_map.csv', index_col=0)

# drop responsibilities for team with succ pass

In [42]:
df_resp.head(5)

,matchId,matchTimestamp,team.id,player.id,pass.recipient.id,tracking.player_id,responsibility,dxt
0,5414111,00:00:01.912,664,118,625,7604,0.013132,-0.004162
1,5414111,00:00:01.912,664,118,625,16320,0.027770,-0.004162
2,5414111,00:00:01.912,664,118,625,11516,0.033898,-0.004162
3,5414111,00:00:01.912,664,118,625,11630,0.016351,-0.004162
4,5414111,00:00:01.912,664,118,625,11606,0.026643,-0.004162

In [43]:
id_map.head(5)

,player_id_sk,player_first_name_sk,player_last_name_sk,team_name_sk,player_id_wy,player_name_wy,team_id_wy,team_name_wy
0,277,Adrien,Rabiot,France,209117,A. Rabiot,4418,France
1,946,Antoine,Griezmann,France,3682,A. Griezmann,4418,France
2,12218,Aurélien,Tchouaméni,France,480145,A. Tchouaméni,4418,France
3,2106,Daley,Blind,Netherland,38,D. Blind,664,Netherlands
4,2548,Davy,Klaassen,Netherland,56,D. Klaassen,664,Netherlands

In [44]:
df_resp_matched = df_resp.merge(id_map, left_on='tracking.player_id', right_on='player_id_sk', how='left')

# check if every player has a matching id map
print(len(df_resp_matched))
print(len(df_resp))
assert len(df_resp_matched) == len(df_resp)

df_resp_matched.head(5)

19712
19712

,matchId,matchTimestamp,team.id,player.id,pass.recipient.id,tracking.player_id,responsibility,dxt,player_id_sk,player_first_name_sk,player_last_name_sk,team_name_sk,player_id_wy,player_name_wy,team_id_wy,team_name_wy
0,5414111,00:00:01.912,664,118,625,7604,0.013132,-0.004162,7604,Mike,Maignan,France,134496,M. Maignan,4418,France
1,5414111,00:00:01.912,664,118,625,16320,0.027770,-0.004162,16320,Ibrahima,Konaté,France,393247,I. Konaté,4418,France
2,5414111,00:00:01.912,664,118,625,11516,0.033898,-0.004162,11516,Dayot,Upamecano,France,352988,D. Upamecano,4418,France
3,5414111,00:00:01.912,664,118,625,11630,0.016351,-0.004162,11630,Jules,Koundé,France,410062,J. Koundé,4418,France
4,5414111,00:00:01.912,664,118,625,11606,0.026643,-0.004162,11606,Theo,Hernández,France,344132,T. Hernández,4418,France

In [45]:
# only keep resonsibilities for the other team, that defend against the pass
mask = df_resp_matched['team.id'] != df_resp_matched['team_id_wy']
df_resp_matched = df_resp_matched[mask]

df_resp_matched.head(5)

,matchId,matchTimestamp,team.id,player.id,pass.recipient.id,tracking.player_id,responsibility,dxt,player_id_sk,player_first_name_sk,player_last_name_sk,team_name_sk,player_id_wy,player_name_wy,team_id_wy,team_name_wy
0,5414111,00:00:01.912,664,118,625,7604,0.013132,-0.004162,7604,Mike,Maignan,France,134496,M. Maignan,4418,France
1,5414111,00:00:01.912,664,118,625,16320,0.027770,-0.004162,16320,Ibrahima,Konaté,France,393247,I. Konaté,4418,France
2,5414111,00:00:01.912,664,118,625,11516,0.033898,-0.004162,11516,Dayot,Upamecano,France,352988,D. Upamecano,4418,France
3,5414111,00:00:01.912,664,118,625,11630,0.016351,-0.004162,11630,Jules,Koundé,France,410062,J. Koundé,4418,France
4,5414111,00:00:01.912,664,118,625,11606,0.026643,-0.004162,11606,Theo,Hernández,France,344132,T. Hernández,4418,France

In [46]:
df_resp_matched[df_resp_matched['team.id']==4418].head(5)

,matchId,matchTimestamp,team.id,player.id,pass.recipient.id,tracking.player_id,responsibility,dxt,player_id_sk,player_first_name_sk,player_last_name_sk,team_name_sk,player_id_wy,player_name_wy,team_id_wy,team_name_wy
715,5414111,00:01:52.883,4418,3682,437490,4777,0.007625,0.024045,4777,Jasper,Cillessen,Netherland,33,J. Cillessen,664,Netherlands
716,5414111,00:01:52.883,4418,3682,437490,14407,0.007541,0.024045,14407,Lutsharel,Geertruida,Netherland,476361,L. Geertruida,664,Netherlands
717,5414111,00:01:52.883,4418,3682,437490,10738,0.010175,0.024045,10738,Virgil,van Dijk,Netherland,370,V. van Dijk,664,Netherlands
718,5414111,00:01:52.883,4418,3682,437490,24466,0.007799,0.024045,24466,Jurriën,Timber Maduro,Netherland,491458,J. Timber,664,Netherlands
719,5414111,00:01:52.883,4418,3682,437490,7863,0.011684,0.024045,7863,Nathan,Aké,Netherland,134102,N. Aké,664,Netherlands

In [47]:
# keep only nonzero responsibilities
df_resp_nonzero = df_resp_matched[df_resp_matched['responsibility'] > 0]
df_resp_nonzero.head(5)

# check if each matchtimestamp has some responsibles
print(df_resp_nonzero['matchTimestamp'].nunique())
print(df_resp_matched['matchTimestamp'].nunique())

# because some responsibilities are all zero => distance to pass is too high: can be adjusted by changing the max_distance parameter in the responsibility function
assert df_resp_nonzero['matchTimestamp'].nunique() == df_resp_matched['matchTimestamp'].nunique(), "not every matchtimestamp has some responsibles"

896
896

In [48]:
df_resp_nonzero.head(5)

,matchId,matchTimestamp,team.id,player.id,pass.recipient.id,tracking.player_id,responsibility,dxt,player_id_sk,player_first_name_sk,player_last_name_sk,team_name_sk,player_id_wy,player_name_wy,team_id_wy,team_name_wy
0,5414111,00:00:01.912,664,118,625,7604,0.013132,-0.004162,7604,Mike,Maignan,France,134496,M. Maignan,4418,France
1,5414111,00:00:01.912,664,118,625,16320,0.027770,-0.004162,16320,Ibrahima,Konaté,France,393247,I. Konaté,4418,France
2,5414111,00:00:01.912,664,118,625,11516,0.033898,-0.004162,11516,Dayot,Upamecano,France,352988,D. Upamecano,4418,France
3,5414111,00:00:01.912,664,118,625,11630,0.016351,-0.004162,11630,Jules,Koundé,France,410062,J. Koundé,4418,France
4,5414111,00:00:01.912,664,118,625,11606,0.026643,-0.004162,11606,Theo,Hernández,France,344132,T. Hernández,4418,France

## Defender Passes Subnetwork

In [49]:
# pick defenders with their id

lineup_df.head(5)

,match_id,team_name,player_id,player_first_name,player_last_name,player_shirt_number,player_position,player_birthdate,start_time,end_time,yellow_card,red_card,injured,goal,own_goal
0,952209,Netherland,14397,Tyrell,Malacia,16,Right Wing Back,1999-08-17,01:26:59,NaN,0,0,False,0,0
1,952209,Netherland,12654,Donyell,Malen,7,Right Winger,1999-01-19,01:06:22,NaN,0,0,False,0,0
2,952209,Netherland,2548,Davy,Klaassen,14,Attacking Midfield,1993-02-21,01:06:22,NaN,0,0,False,0,0
3,952209,Netherland,2106,Daley,Blind,17,Left Midfield,1990-03-09,01:06:22,NaN,1,0,False,0,0
4,952209,Netherland,10916,Wout,Weghorst,9,Center Forward,1992-08-07,00:32:38,NaN,0,0,False,0,0

In [50]:
defender_positions = ['Right Wing Back', 'Right Center Back', 'Left Center Back', 'Left Wing Back']

lineup_df['player_position'].unique()

array(['Right Wing Back', 'Right Winger', 'Attacking Midfield',
       'Left Midfield', 'Center Forward', 'Right Midfield',
       'Defensive Midfield', 'Right Forward', 'Left Center Back',
       'Left Wing Back', 'Goalkeeper', 'Right Center Back', 'Left Winger',
       'Left Forward'], dtype=object)

In [51]:

lineup_df_pos = lineup_df[['player_id', 'player_position']].rename(columns={'player_id': 'player_id_sk'})

df_resp_def = df_resp_nonzero.merge(lineup_df_pos, how='left')

# check if every player has a matching id in lineup_df
assert len(df_resp_def) == len(df_resp_nonzero)

# get only defenders
df_resp_def = df_resp_def[df_resp_def['player_position'].isin(defender_positions)]

print(len(df_resp_def))

df_resp_def.head(5)

3584

,matchId,matchTimestamp,team.id,player.id,pass.recipient.id,tracking.player_id,responsibility,dxt,player_id_sk,player_first_name_sk,player_last_name_sk,team_name_sk,player_id_wy,player_name_wy,team_id_wy,team_name_wy,player_position
1,5414111,00:00:01.912,664,118,625,16320,0.027770,-0.004162,16320,Ibrahima,Konaté,France,393247,I. Konaté,4418,France,Right Center Back
2,5414111,00:00:01.912,664,118,625,11516,0.033898,-0.004162,11516,Dayot,Upamecano,France,352988,D. Upamecano,4418,France,Left Center Back
3,5414111,00:00:01.912,664,118,625,11630,0.016351,-0.004162,11630,Jules,Koundé,France,410062,J. Koundé,4418,France,Right Wing Back
4,5414111,00:00:01.912,664,118,625,11606,0.026643,-0.004162,11606,Theo,Hernández,France,344132,T. Hernández,4418,France,Left Wing Back
12,5414111,00:00:05.782,664,625,476361,16320,0.013046,-0.002211,16320,Ibrahima,Konaté,France,393247,I. Konaté,4418,France,Right Center Back

In [52]:
# group by for each player_id_sk
# df_resp_def[['matchTimestamp', 'player_id_sk']]
columns_subnet = ['matchTimestamp', 'responsibility', 'dxt', 'player_id_sk', 'player_first_name_sk', 'player_last_name_sk', 'player_position', 'team_id_wy', 'team_name_wy']
columns_subnet_group = ['dxt', 'player_id_sk', 'player_first_name_sk', 'player_last_name_sk', 'player_position', 'team_id_wy', 'team_name_wy']
# filter only relevant columns
df_resp_def = df_resp_def[columns_subnet]

# count number of timestamps for each player
# df_resp_def.groupby(columns_subnet).size()

# df_resp_def
df_resp_def.groupby(columns_subnet_group).size().reset_index(name='count') # groupby(columns_subnet).count('player_id_sk')

,dxt,player_id_sk,player_first_name_sk,player_last_name_sk,player_position,team_id_wy,team_name_wy,count
0,-0.044438,7863,Nathan,Aké,Left Wing Back,664,Netherlands,1
1,-0.044438,10738,Virgil,van Dijk,Left Center Back,664,Netherlands,1
2,-0.044438,14407,Lutsharel,Geertruida,Right Center Back,664,Netherlands,1
3,-0.044438,24466,Jurriën,Timber Maduro,Right Wing Back,664,Netherlands,1
4,-0.028339,11516,Dayot,Upamecano,Left Center Back,4418,France,1
...,...,...,...,...,...,...,...,...
3579,0.126292,24466,Jurriën,Timber Maduro,Right Wing Back,664,Netherlands,1
3580,0.126503,11516,Dayot,Upamecano,Left Center Back,4418,France,1
3581,0.126503,11606,Theo,Hernández,Left Wing Back,4418,France,1
3582,0.126503,11630,Jules,Koundé,Right Wing Back,4418,France,1
3583,0.126503,16320,Ibrahima,Konaté,Right Center Back,4418,France,1

In [53]:
df_resp_def_subnet = \
df_resp_def.groupby(columns_subnet_group).agg(
    average_responsibility=('responsibility', 'mean'),
    count=('matchTimestamp', 'size')
).reset_index()

df_resp_def_subnet.head(10)

,dxt,player_id_sk,player_first_name_sk,player_last_name_sk,player_position,team_id_wy,team_name_wy,average_responsibility,count
0,-0.044438,7863,Nathan,Aké,Left Wing Back,664,Netherlands,0.004818,1
1,-0.044438,10738,Virgil,van Dijk,Left Center Back,664,Netherlands,0.005315,1
2,-0.044438,14407,Lutsharel,Geertruida,Right Center Back,664,Netherlands,0.005861,1
3,-0.044438,24466,Jurriën,Timber Maduro,Right Wing Back,664,Netherlands,0.005711,1
4,-0.028339,11516,Dayot,Upamecano,Left Center Back,4418,France,0.020824,1
5,-0.028339,11606,Theo,Hernández,Left Wing Back,4418,France,0.040382,1
6,-0.028339,11630,Jules,Koundé,Right Wing Back,4418,France,0.011661,1
7,-0.028339,16320,Ibrahima,Konaté,Right Center Back,4418,France,0.015782,1
8,-0.025133,7863,Nathan,Aké,Left Wing Back,664,Netherlands,0.007689,1
9,-0.025133,10738,Virgil,van Dijk,Left Center Back,664,Netherlands,0.009897,1

In [54]:
df_resp_def

,matchTimestamp,responsibility,dxt,player_id_sk,player_first_name_sk,player_last_name_sk,player_position,team_id_wy,team_name_wy
1,00:00:01.912,0.027770,-0.004162,16320,Ibrahima,Konaté,Right Center Back,4418,France
2,00:00:01.912,0.033898,-0.004162,11516,Dayot,Upamecano,Left Center Back,4418,France
3,00:00:01.912,0.016351,-0.004162,11630,Jules,Koundé,Right Wing Back,4418,France
4,00:00:01.912,0.026643,-0.004162,11606,Theo,Hernández,Left Wing Back,4418,France
12,00:00:05.782,0.013046,-0.002211,16320,Ibrahima,Konaté,Right Center Back,4418,France
...,...,...,...,...,...,...,...,...,...
9838,01:33:36.229,0.010015,0.013511,11606,Theo,Hernández,Left Wing Back,4418,France
9846,01:33:38.826,0.006215,0.064346,16320,Ibrahima,Konaté,Right Center Back,4418,France
9847,01:33:38.826,0.006726,0.064346,11516,Dayot,Upamecano,Left Center Back,4418,France
9848,01:33:38.826,0.006071,0.064346,11630,Jules,Koundé,Right Wing Back,4418,France
9849,01:33:38.826,0.007046,0.064346,11606,Theo,Hernández,Left Wing Back,4418,France

### This table contains all recorded pass events. For each pass we include the total responsibility aggregated for all responsible defenders and the change in xT it incurs.
Columns: PassID, SenderID, StartingLocation, ReceiverID, EndingLocation, Duration, ΔxT, TotalResponsibility

In [55]:
joined_df.columns

Index(['matchId', 'matchTimestamp', 'team.id', 'team.name', 'player.id',
       'player.name', 'opponentTeam.id', 'opponentTeam.name',
       'pass.recipient.id', 'pass.recipient.name', 'location.x', 'location.y',
       'pass.endLocation.x', 'pass.endLocation.y', 'dxt', 'tracking.object_id',
       'tracking.x', 'tracking.y', 'tracking.z', 'tracking.x_norm',
       'tracking.y_norm', 'tracking.team_name', 'tracking.player_id',
       'tracking.player_first_name', 'tracking.player_last_name',
       'responsibility'],
      dtype='object')

In [56]:
passes_columns = ['matchId', 'matchTimestamp', 'player.id', 'player.name', 'location.x', 'location.y', 'pass.recipient.id',
                 'pass.recipient.name', 'pass.endLocation.x', 'pass.endLocation.y', 'dxt', 'responsibility']
passes_network = joined_df[passes_columns]

In [57]:
passes_network.shape

(19712, 12)

In [58]:
passes_network = passes_network.groupby('matchTimestamp').agg({
    'matchId': 'first',
    'player.id': 'first',
    'player.name': 'first',
    'location.x': 'first',
    'location.y': 'first',
    'pass.recipient.id': 'first',
    'pass.recipient.name': 'first',
    'pass.endLocation.x': 'first',
    'pass.endLocation.y': 'first',
    'dxt': 'first',
    'responsibility': 'sum'  # Sum the responsibility column
}).rename(columns={'responsibility': 'Total_Responsibility'}).reset_index()

In [59]:
passes_network

,matchTimestamp,matchId,player.id,player.name,location.x,location.y,pass.recipient.id,pass.recipient.name,pass.endLocation.x,pass.endLocation.y,dxt,Total_Responsibility
0,00:00:01.912,5414111,118,M. Depay,51,50,625,M. de Roon,42,83,-0.004162,2.937862
1,00:00:05.782,5414111,625,M. de Roon,42,83,476361,L. Geertruida,29,60,-0.002211,2.390856
2,00:00:08.951,5414111,476361,L. Geertruida,29,60,370,V. van Dijk,25,28,-0.000660,2.557982
3,00:00:13.151,5414111,370,V. van Dijk,25,28,476361,L. Geertruida,25,51,0.000147,1.646751
4,00:00:17.930,5414111,476361,L. Geertruida,32,50,370,V. van Dijk,30,17,-0.000616,2.907561
...,...,...,...,...,...,...,...,...,...,...,...,...
891,01:33:18.517,5414111,56,D. Klaassen,46,65,365446,D. Malen,40,89,-0.003139,0.934065
892,01:33:23.587,5414111,365446,D. Malen,40,89,56,D. Klaassen,61,91,0.008928,0.209442
893,01:33:24.921,5414111,56,D. Klaassen,61,91,221069,W. Weghorst,63,69,0.006431,0.304874
894,01:33:36.229,5414111,134102,N. Aké,72,30,118,M. Depay,80,17,0.013511,0.281943
895,01:33:38.826,5414111,118,M. Depay,80,17,221069,W. Weghorst,89,42,0.064346,0.213240

In [60]:
passes_network.to_csv('passes_network.csv')

In [61]:
df_resp_def.to_csv('defender_responsibility_network.csv')

In [62]:
df_resp_def

,matchTimestamp,responsibility,dxt,player_id_sk,player_first_name_sk,player_last_name_sk,player_position,team_id_wy,team_name_wy
1,00:00:01.912,0.027770,-0.004162,16320,Ibrahima,Konaté,Right Center Back,4418,France
2,00:00:01.912,0.033898,-0.004162,11516,Dayot,Upamecano,Left Center Back,4418,France
3,00:00:01.912,0.016351,-0.004162,11630,Jules,Koundé,Right Wing Back,4418,France
4,00:00:01.912,0.026643,-0.004162,11606,Theo,Hernández,Left Wing Back,4418,France
12,00:00:05.782,0.013046,-0.002211,16320,Ibrahima,Konaté,Right Center Back,4418,France
...,...,...,...,...,...,...,...,...,...
9838,01:33:36.229,0.010015,0.013511,11606,Theo,Hernández,Left Wing Back,4418,France
9846,01:33:38.826,0.006215,0.064346,16320,Ibrahima,Konaté,Right Center Back,4418,France
9847,01:33:38.826,0.006726,0.064346,11516,Dayot,Upamecano,Left Center Back,4418,France
9848,01:33:38.826,0.006071,0.064346,11630,Jules,Koundé,Right Wing Back,4418,France
9849,01:33:38.826,0.007046,0.064346,11606,Theo,Hernández,Left Wing Back,4418,France

In [65]:
df_resp_def_subnet.to_csv('defender_passes_subnetwork.csv')

In [66]:
df_resp_def_subnet

,dxt,player_id_sk,player_first_name_sk,player_last_name_sk,player_position,team_id_wy,team_name_wy,average_responsibility,count
0,-0.044438,7863,Nathan,Aké,Left Wing Back,664,Netherlands,0.004818,1
1,-0.044438,10738,Virgil,van Dijk,Left Center Back,664,Netherlands,0.005315,1
2,-0.044438,14407,Lutsharel,Geertruida,Right Center Back,664,Netherlands,0.005861,1
3,-0.044438,24466,Jurriën,Timber Maduro,Right Wing Back,664,Netherlands,0.005711,1
4,-0.028339,11516,Dayot,Upamecano,Left Center Back,4418,France,0.020824,1
...,...,...,...,...,...,...,...,...,...
3579,0.126292,24466,Jurriën,Timber Maduro,Right Wing Back,664,Netherlands,0.005370,1
3580,0.126503,11516,Dayot,Upamecano,Left Center Back,4418,France,0.981539,1
3581,0.126503,11606,Theo,Hernández,Left Wing Back,4418,France,0.892890,1
3582,0.126503,11630,Jules,Koundé,Right Wing Back,4418,France,0.937348,1
3583,0.126503,16320,Ibrahima,Konaté,Right Center Back,4418,France,0.983043,1